<header>
    <ul>
        <%if (locals.user) { %>
            <li>
                <a href="/users/profile">
                    <%= user.name%>
                </a>
            </li>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>

        <%} else {%>   
            
            <li>
                <a href="/users/sign-in">SignIN</a>
            </li>

            <li>
                <a href="/users/sign-up">SignUP</a>
            </li>

         <%}%>   
    </ul>

    Page Header
</header>