
<h1>
    Codeial / <%= title %>
</h1>

<section id="feed-post">
    <h4>
        Post
    </h4>

    <form action="" method="POST" id="new-post-id">
        <textarea name="content" rows="3" cols="30" ></textarea>
        <input type="submit" value="Post">
    </form>
</section>