<h1>Sign IN page</h1>

<form action="/user/create-session" method="POST">
    <input type="text" value="name" placeholder="Enter your Name" required>
    <input type="email" value="email" placeholder="Enter your E-Mail" required>
    
    <button type="submit">Sign UP</button>

</form>