<h1>
    Sign up page
</h1>

<form action="/user/create" method="POST">
    <input type="text" name="name" placeholder="Enter your Name" required>
    <input type="email" name="email" placeholder="Enter your E-Mail" required>
    <input type="password" name="password" placeholder="Enter your password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>

    <button type="submit">Sign UP</button>

</form>